services:
  caddy:
    image: caddy:2
    environment:
      DENNIS_PWHASH: ${DENNIS_PWHASH}
    pull_policy: if_not_present
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
      - frontend
    networks:
      - appnet
    restart: unless-stopped

  backend:
    image: ghcr.io/lindhihorsti/brinkhorst-family-ops-backend:stable
    environment:
      DENNIS_PWHASH: ${DENNIS_PWHASH}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_ALLOWLIST: ${TELEGRAM_ALLOWLIST}
      DATABASE_URL: ${DATABASE_URL}
      AUTO_MIGRATE: "0"
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_MODEL: ${OPENAI_MODEL}

    networks:
      - appnet
    restart: unless-stopped

  frontend:
    image: ghcr.io/lindhihorsti/brinkhorst-family-ops-frontend:stable
    networks:
      - appnet
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:

networks:
  appnet:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "10.77.0.0/16"
        - subnet: "fd00:77:77::/64"
